body {
    font-family: sans-serif;
    font-size: 12px;
}

#container {
    margin: auto;
	width:960px;
    max-width: 100%;
}

/***** Text *****/
h1 {font-size:4em; margin-bottom:0.5em;}
 
h2 {font-size:2.5em; margin-bottom:0.75em;}
 
h3 {font-size:1.5em; margin-bottom:1em;}

p{ line-height:1.2; margin-bottom:1em;}

strong{ font-weight:bold; }

em{ font-style:italic; }

.text-left     { text-align:left; }
.text-right    { text-align:right; }
.text-center   { text-align:center; }
.text-justify  { text-align:justify; }
 
.onderlijnen     { border-bottom:1px solid; }
.markeren     { background:#ffc; }
 
 
/***** navigatie LoVe HaTe *****/
nav a,
nav a:link,
nav a:visited,
nav a:hover, 
nav a:active {
text-decoration:none;
color:white;
}

nav ol, nav ul {
	list-style: none;
}

/***** Layout *****/
.zonenaast   { float:left; }
.zoneonder   { clear:both; }
.opvullen    { overflow:hidden; }